extends layout

block content
  - var meetup = contents.meetups['2016-08-lightning-talks.md'];

  h1= meetup.metadata.title
  != meetup.html

block prepend sidebar
  - var meetup = contents.meetups['2016-08-lightning-talks.md'];

  section.sidebar-section
    h2= 'Next Meetup'
    div.next-topic= meetup.metadata.title
    div #{moment.utc(meetup.date).format('D MMM YYYY')}, #{meetup.metadata.time}
    div
      a(href='https://maps.google.com/?q=#{meetup.metadata.location}',target='_blank')= meetup.metadata.location
