doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= locals.title
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,300,600')
    link(rel='stylesheet', href=contents.css['normalize.css'].url)
    link(rel='stylesheet', href=contents.css['skeleton.css'].url)
    link(rel='stylesheet', href=contents.css['main.css'].url)
  body
    .container
      nav.navbar
        div.container
          ul.navbar__list
            li.navbar__listitem
              a(href='/').navbar__link= locals.title
            li.navbar__listitem
              a(href='/about.html').navbar__link About
            li.navbar__listitem
              a(href='/meetups/').navbar__link Meetups
            li.navbar__listitem
              a(href='http://www.meetup.com/' + locals.urlname + '/',target='_blank').navbar__link Join
      section.row
        .column.two-thirds
          block content

        .column.one-third
          block sidebar
            - var meetup = contents.meetups['2016-10-set-top-box.md'];

            section.sidebar-section
              h2= 'Next Meetup'

              if meetup.metadata.title
                div.next-topic= meetup.metadata.title
              else
                div.next-topic
                  em Topic TBD

              if meetup.metadata.date
                div #{moment.utc(meetup.date).format('D MMM YYYY')}, #{meetup.metadata.time}

              div
                a(href='https://maps.google.com/?q=#{meetup.metadata.location}',target='_blank')= meetup.metadata.location

              if meetup.metadata.eventId
                div.rsvp
                  a.button(href='http://www.meetup.com/' + locals.urlname + '/events/' + meetup.metadata.eventId + '/',target='_blank') RSVP
